.dot-typing {
	display: flex;
	align-items: center;
	height: 16px;
}
.dot {
	height: 8px;
	width: 8px;
	margin: 0 2px;
	background-color: #888;
	border-radius: 50%;
	display: inline-block;
	animation: dot-typing 1s infinite both;
}
.dot:nth-child(2) {
	animation-delay: 0.2s;
}
.dot:nth-child(3) {
	animation-delay: 0.4s;
}
@keyframes dot-typing {
	0%,
	80%,
	100% {
		opacity: 0.2;
		transform: scale(0.8);
	}
	40% {
		opacity: 1;
		transform: scale(1.2);
	}
}
.scrollbar-hide {
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

/* Modal animations */
@keyframes slideInFromRight {
	from {
		transform: translateX(100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideOutToRight {
	from {
		transform: translateX(0);
		opacity: 1;
	}
	to {
		transform: translateX(100%);
		opacity: 0;
	}
}